* {
    font-family: Helvetica;
    text-align: center;
}

#banner {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    width: 100%;
}


h1 {
    font-size: 32px;
    font-weight: bold;
    width: 100%;
}

#brushestitle {
    background-color: mediumspringgreen;
}

#framestitle {
    background-color: lightcoral;
}

#painttitle {
    background-color: skyblue;
}

.texttitle {
    font-weight: bold;
    font-size: 1.17em;
}

.textbody {
    font-size: 1em;
}

.starting {
    font-weight: bold;
    color: blue;
}
